<div class="page-header">
  <h1>Comment #<%= @comment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Content</dt>
  <dd><%= @comment.content %></dd>

  <dt>Userdate</dt>
  <dd><%= @comment.userdate_id %></dd>

  <dt>User</dt>
  <dd><%= @comment.user_id %></dd>

</dl>
