<div class="page-header">
  <h1>Event #<%= @event.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Event name</dt>
  <dd><%= @event.event_name %></dd>

  <dt>Lng</dt>
  <dd><%= @event.lng %></dd>

  <dt>Lat</dt>
  <dd><%= @event.lat %></dd>

</dl>
