<div class="page-header">
  <h1>Match #<%= @match.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Date</dt>
  <dd><%= @match.date_id %></dd>

  <dt>User</dt>
  <dd><%= @match.user_id %></dd>

  <dt>Accepted</dt>
  <dd><%= @match.accepted %></dd>

</dl>
